body {
  margin: 0;
  background-color: #303841;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px 0 0 0;
  font-family: 'Sacramento',cursive;
  color:#00adb5;
  font-size: 4.6875rem;

}

h2{
  font-family: 'Sacramento',cursive;
  font-size: 2.5rem;
  color:#eeeeee;
}

h3{
  font-family: 'Montserrat',sans-serif;
  color:#eeeeee;
}

hr {
  border-style: dotted none none;
  border-width: 10px;
  width: 5%;
  height: 10%;
  border-color:#1e2022;
  margin-top: 100px;
  margin-bottom: 100px;

}

p {
  font-family: 'Montserrat';
  color: #c9d6df;
  margin: 30px 0 30px 0;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #c9d6df;
  text-decoration: none;
}
a:hover {
  color: #52616b
}

/****Class Selectors******/


.top-container {
  padding-top: 100px;
  background-color: #52616b;
  margin:0;
}
.mid-container {
  padding-top: 100px;
}
.bottom-container {
  padding-top: 100px;
}
.pro {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position:absolute;
  left: 300px;
  top: 352px;
}
.mountain {
  position:relative;
  top:4px;
}

.subhead {
  font-weight: normal;
  font-size: 1.5rem;
}
.me {
  border-radius: 100%;
  height: 200px;
}
.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.tekken {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.latte {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.credit {
  font-family: 'Montserrat';
  color: #c9d6df;
  font-size: .75rem;
  margin:30px 0 0 0
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
}

.butn {
  background: #5d6266;
  background-image: -webkit-linear-gradient(top, #5d6266, #000000);
  background-image: -moz-linear-gradient(top, #5d6266, #000000);
  background-image: -ms-linear-gradient(top, #5d6266, #000000);
  background-image: -o-linear-gradient(top, #5d6266, #000000);
  background-image: linear-gradient(to bottom, #5d6266, #000000);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #98a9b3;
  background-image: -webkit-linear-gradient(top, #98a9b3, #9fa8ad);
  background-image: -moz-linear-gradient(top, #98a9b3, #9fa8ad);
  background-image: -ms-linear-gradient(top, #98a9b3, #9fa8ad);
  background-image: -o-linear-gradient(top, #98a9b3, #9fa8ad);
  background-image: linear-gradient(to bottom, #98a9b3, #9fa8ad);
  text-decoration: none;
}
.copyright {
  font-size:.75rem;
  margin: 0;
}

.email {
  text-decoration: underline;
}
